Package: advanced-ip-analyser
Section: net
Version: VERSION
Priority: optional
Architecture: ARCH
Installed-Size: INSTALLED_SIZE
Depends: openjdk-21-jre, libgtk-3-0t64
Recommends: freerdp3-x11, gvfs-backends, iputils-ping, iputils-tracepath, openssh-client, telnet, whois
Maintainer: Advanced IP Analyser contributors <2E0LXY@users.noreply.github.com>
Conflicts: ipscan
Replaces: ipscan
Homepage: https://github.com/2E0LXY/Advanced-IP-Analyser
Description: Advanced IP Analyser - Debian network scanner
 Advanced IP Analyser is a Debian-focused network scanner written in Java.
 It can scan IP-based networks in any range, scan ports, and resolve
 host and service information. It also provides Wake-on-LAN and configurable
 actions for opening SSH, RDP, HTTP, HTTPS, FTP, and SMB services.
