[Desktop Entry]
Name=Advanced IP Analyser
Comment=Discover and access devices on your network
GenericName=Network scanner and analyser
Keywords=network;ip;scan;scanner;analyser;wol;rdp;ssh
Exec=/usr/bin/ipscan
Terminal=false
Type=Application
Icon=net.azib.ipscan
Categories=Network;
StartupWMClass=Advanced IP Analyser
StartupNotify=true
